{% extends 'math.html' %}

{% block content %}
    <h5>Problem 1</h5>
    <p>
        Let \(m_a, m_b, m_c\) be the medians of the triangle \(ABC\) and \(r_a, r_b, r_c\) be its exradii. Then prove
        that \(m_a+m_b+m_c\le r_a+r_b+r_c\).
    </p>
    <p align="right"><i><a href="https://artofproblemsolving.com/community/q1h1902971p13014338">AoPS forum</a></i></p>
    <h5>Solution</h5>
    <p>
        First we'll prove that \(r_a+r_b+r_c=4R+r\) where \(R\) and \(r\) are the circumradius and the inradius of
        \(ABC\). Let \(I\) and \(I_a\) be the incenter and the \(A\)-excenter of \(ABC\). Let \(W\) be the midpoint
        of \(II_a\). \(BI\) and \(BI_a\) are the internal and external bisectors of angle \(B\) so
        \(\angle IBI_a=90^\circ\). Similarly \(\angle ICI_a=90^\circ\) and \(B, I, C, I_a\) lie on a circle with
        center \(W\). Hence \(\angle BWC=2\angle BI_aC=180^\circ-\angle A\) and \(W\) lies on th circle \(ABC\).
        Thus
        \[\frac{r_a}{\sin{\frac{\angle A}{2}}}-\frac{r}{\sin{\frac{\angle A}{2}}}=AI_a-AI=II_a=2WI=2WB=
        4R\sin{\frac{\angle A}{2}}\]
        and \(r_a=r+2R(1-\cos{\angle A})\). Summing up the other two similar equalities we get by Carnot's theorem
        \[r_a+r_b+r_c=3r+6R-2R(\cos{\angle A} + \cos{\angle B} + \cos{\angle C})=3r+6R-2(R+r)=4R+r.\]
        Now denote by \(A', B', C'\) the midpoints of respective sides of \(ABC\) and by \(O\) its circumcenter.
        According to the triangle inequality \(R+OA'=AO+OA'\ge AA'=m_a\). Summing up the other two similar
        inequalities we get
        \[m_a+m_b+m_c\le 3R+OA'+OB'+OC'=4R+r=r_a+r_b+r_c.\]
    </p>
{% endblock %}