{% extends 'math.html' %}

{% block content %}
    <h5>Problem 11</h5>
    <p>
        In triangle \(ABC\) \(I\) is the incenter and \(J\) is the \(B\)-excenter. \(BH\) is height. Reconstruct
        \(ABC\) given the points \(I,J,H\).
    </p>
    <h5>Solution</h5>
    <figure style="float:right;">
        <img src="{{url_for('static', filename='images/problem11pic1.png')}}" style="width:250px;">
        <figcaption style="text-align:center;">Figure 1</figcaption>
    </figure>
    <p>
        Let \(K\) and \(L\) be he projections of \(I\) and \(J\) respectively on \(BH\). Let the inradius and \(B\)-exradius be
        \(r\) and \(r_b\) respectively. Note that \(\frac{IK}{J L}=\frac{IB}{J B}=\frac{r}{r_b} =\frac{KH}{HL}\).
        This means that
        the triangles \(IKH\) and \(J LH\) are similar and \(\angle IHK=\angle J HL\), i.e. \(AC\) and \(BH\) are
        the bisectors of \(\angle J\). Hence we get the following construction:
        <ul>
            <li>Draw the internal bisector \(l\) of \(\angle IHJ\);</li>
            <li>Draw the circles with the centers \(I\) and \(J\) touching \(l\);</li>
            <li>Draw their common external tangents and mark the points A and C of their intersections with \(l\)
                and the point \(B\) of their intersection. The triangle \(ABC\).
        </ul>
        <b>Note.</b> This fact was also discovered by A. Zaslavsky (V Sharygin Geometry Olympiad, correspondence tour).
    </p>
{% endblock %}