{% extends 'math.html' %}

{% block content %}
    <h5>Problem 2</h5>
    <p>
        Prove that if \(a, b, c\) are sides of a triangle then
        \[\frac{(a^2+b^2+c^2)(a+b+c)}{9}\ge \frac{(-a^2+b^2+c^2)(a^2-b^2+c^2)(a^2+b^2-c^2)}{(-a+b+c)(a-b+c)(a+b-c)}.\]
    </p>
    <p align="right"><i><a href="https://artofproblemsolving.com/community/q1h2001215p13988758">
            AoPS forum</a>
    </i></p>
    <h5>Solution</h5>
    <p>
        It suffices to consider only the case of acute triangle (otherwise the RHS is nonpositive). Let \(ABC\) be
        the triangle with \(AB=c, BC=a, CA=b\). Choose the point \(D\) in space so that \(DA=a, DB=b, DC=c\). Let
        \(M\) be the centroid of \(ABC\) and \(DH\) be altitude in the tetrahedron \(ABCD\). We have
        \begin{equation}
        \label{eq}
        DM\ge DH.\tag{*}
        \end{equation}
        By the tetrahedron median formula
        \[DM^2=\frac{3(DA^2+DB^2+DC^2)-(AB^2+BC^2+CA^2)}{9}=\frac29 (a^2+b^2+c^2).\]
        Let's calculate \(DH\). To do so draw a plane through each edge of \(ABCD\) parallel to the opposite edge.
        These planes form a parallelepiped. Using the characteristic property of parallelogram for each of its
        faces, that is the sum of squares of diagonals equals the sum of squares of sides, we get that for the
        edges \(u, v, w\) of the parallelepiped are equal to
        \[u=\sqrt{\frac{AB^2+CD^2+AC^2+BD^2-BC^2-AD^2}{2}}=\sqrt{c^2+b^2-a^2}.\]
        and so on. \(ABCD\) is an isosceles tetrahedron so its circumscribed parallelepiped is rectangular and
        its volume is \(uvw\) which is the third of the volume \(V\) of \(ABCD\). At last the area of \(ABC\) is
        \[S=\frac{\sqrt{(a+b+c)(-a+b+c)(a-b+c)(a+b-c)}}{4}.\]
        Hence inserting the value \(DH=3V/S\) into \eqref{eq} we get the desired inequality.
    </p>
    <p>
        <b>Note.</b> The distance \(\rho\) between the circumcenter and the centroid of \(ABC\) is equal to
        \(MH/2\) so
        \[\rho^2=\frac{a^2+b^2+c^2}{18}-\frac{(-a^2+b^2+c^2)(a^2-b^2+c^2)(a^2+b^2-c^2)}{2(a+b+c)
        (-a+b+c)(a-b+c)(a+b-c)}.\]
    </p>
{% endblock %}