{% extends 'base.html' %}

{% block content %}
    <h3>Academic</h3>
    <p>Some academic stuff that displays my background and might be helpful for others.</p>
    <ul>
        <li>
            MIPT metaprogramming
            <ul>
                <li><a href="https://github.com/Mrkol/metaprogramming-course">Course repository</a></li>
                <li><a href="https://github.com/saro2808/metaprogramming-course-solutions">Homework</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}