{% extends 'base.html' %}

{% block title %}Academic{% endblock %}

{% block content %}
<hr>
<h3>Academic</h3>
<hr>
<p>Some academic stuff that displays my background and might be helpful for others.</p>
<p>These are materials of some courses completed at MIPT and TUM.</p>
<p><b>Note.</b> A portion of these is due to the contributions of my several coursemates.</p>
<div class="text-container">
    {% for courses in course_categories %}
    <div class="text{{loop.index}}">
        <h4>{{ courses['name'] }}</h4>
        <ul>
            {% for course in courses['list'] %}
            <li>
                {{ course['name'] }}
                <ul>
                    {% for url in course['urls'] %}
                    <li><a href={{url['url']}}>{{ url['text'] }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
<hr>
<h3>References</h3>
<hr>
{% for item in references %}
<h5>{{ item['category'] }}</h5>
<ul>
    {% for ref in item['list'] %}
    <li>
        {{ ref['item'] | safe }}
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}