{% extends 'base.html' %}

{% block content %}
<hr>
<h3>{% block title %} Curriculum Vitae {% endblock %}</h3>
<hr>

<h4>Work experience</h4>
<ul>
    <li>
        2024 April - 2025 April<br>
        <span style="color:green;"><b>Information Systems Agency of Armenia</b></span><br>
        <b>DevOps Engineer</b> (full-time)<br>
    </li>
    <br>
    <li>
        2024 August, 2025 March<br>
        <span style="color:green;"><b>PhysMath school in Yerevan</b></span><br>
        <b>Math Olympiad Coach</b>
    </li>
    <br>
    <li>
        2023 November - 2024 April<br>
        <span style="color:green;"><b>Information Systems Agency of Armenia</b></span><br>
        <b>Junior Data Analyst</b> (full-time)<br>
    </li>
    <br>
    <li>
        2022 February - 2022 June<br>
        <span style="color:green;"><b>Moscow Institute of Physics and Technology</b></span><br>
        <b>Backend Engineer</b> (part-time)<br>
    </li>
</ul>
<hr>

<h4>Education</h4>
<ul>
    <li>
        2025-2027<br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Logo_of_the_Technical_University_of_Munich.svg"
             style="width:60px;float:right;margin-right:710px;">
        <span style="color:green;"><b>Technical University of Munich (TUM)</b></span><br>
        <b>Mathematics in Data Science</b>
    </li>
    <br>
    <li>
        2019-2023<br>
        <img src="https://blockchain.mipt.ru/uploads/eng_base_7f9e11e035.png"
             style="width:150px;float:right;margin-right:530px;">
        <span style="color:green;"><b>Moscow Institute of Physics and Technology (MIPT)</b></span><br>
        <b>Department of Innovations and High Technologies</b><br>
        School of Informatics and Applied Mathematics<br>
        Chair of Discrete Mathematics<br>
        Title of bachelor diploma: <i>"Variations of the theorem of Barany and Grinberg about vector sums"</i><br>
        Academic advisor: Alexander Polyanskii
    </li>
    <br>
    <li>
        2015-2019<br>
        <span style="color:green;"><b>PhysMath specialized school after A. Shahinyan</b></span>
    </li>
</ul>
<hr>

<h4>Academic interests</h4>
<ul>
    <li>Discrete Geometry, Hypergraphs, Extremal Combinatorics</li>
    <li>Harmonic Analysis, Signal processing</li>
    <li>Stochastic Processes, Functional Analysis, Information Theory</li>
</ul>

<h4>Projects</h4>
<ul>
    <li>
        <a href="https://github.com/saro2808/metric-internship/tree/main/task2"><b>Venture capital website evaluator</b></a><br>
        Interface to parse a VC website by URL and display top semantically closest VC websites from vector DB
    </li>
    <li>
        <a href="http://saro-harutyunyan.space/"><b>This website</b></a><br>
        My personal website written in Python (Flask)
    </li>
    <li>
        <a href="https://github.com/saro2808/mipt-base"><b>MIPT base</b></a><br>
        Pet project where I engineered the data of my fellow students and analyzed it in Python
    </li>
    <li>
        <a href="https://github.com/saro2808/ProgTechProject"><b>Terminal shooter</b></a><br>
        Shooter game in Ubuntu terminal implemented in C++
    </li>
    <li>
        And many other projects that can be found <a href="academic">here</a>
    </li>
</ul>
<hr>

<h4>Team projects</h4>
<ul>
    <li>
        <span style="color:green;"><b>VR system for collective immersion into the 3D space of a picture, 2022</b></span><br>
        My responsibility was to implement the tree (imitator) of the 3D-scene in C++ in order to animate the picture
        (part of the preserved code is <a href="https://github.com/saro2808/IndProg/tree/main/task4">here</a>)
    </li>
</ul>
<hr>

<h4>Outreach</h4>
<ul>
    <li>Authored hundreds of mathematical problems some of which have appeared in different olympiads. See these
        problems among my exposed problems of <a href="mathematics/geometry/all">geometry</a> and
        <a href="mathematics/algebra/all">algebra</a>.
    </li>
</ul>
<hr>

<h4>Publications</h4>
<ul>
    <li><span style="color:green;"><b>Isogonal conjugation in isosceles tetrahedron</b></span>, 2024,
        <a href="https://github.com/saro2808/website/blob/main/static/documents/IsoTetr_v2.pdf">preprint</a>
    </li>
    <li><span style="color:green;"><b>Variations of the theorem of Barany and Grinberg about vector sums</b></span> (in Russian,
        <a href="https://github.com/saro2808/website/blob/main/static/documents/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC-4.pdf">
            my Bachelor thesis</a>), 2023 (see the title page in English
        <a href="https://github.com/saro2808/website/blob/main/static/documents/BachelorThesisInfo.pdf">here</a>)
    </li>
    <li><span style="color:green;"><b>The Nagel point and the difference triangle</b></span> (in Russian),
        <a href="http://kvant.mccme.ru/pdf/2018/2019-09.pdf">journal “Quantum”, 2019 №9</a>, pages 30‐33
    </li>
    <li><span style="color:green;"><b>Addition to the adventure of a problem</b></span> (in Russian),
        <a href="http://kvant.mccme.ru/pdf/2018/2018-05.pdf">journal “Quantum”, 2018 №5</a>, page 31
    </li>
</ul>
<hr>

<h4>Awards</h4>
<ul>
    <li>First place prize (golden ruler) in the
        <a href="http://armaganka.org.mk/uploads/books/u8ATHDt2yEODkjb8JwN1Ow.pdf">
            <b>5th Iranian Geometry Olympiad, advanced level</b></a></li>
    <li>Third place prize in the 2018 and 2019 <span style="color:green;"><b>Armenian Republican Olympiad in Mathematics</b></span></li>
</ul>
<hr>

<!--<h4>Other activities</h4>-->
<!--<ul>-->
<!--    <li>Completed 10-day trainings at VoMA, October 2023</li>-->
<!--    <li>Participated in two-week military-oriented camps of "Quantum" college, June-July 2014 and 2015</li>-->
<!--</ul>-->
<!--<hr>-->

<h4>Hobbies</h4>
<ul>
    <li>Doing math and composing problems</li>
    <li>Riding bicycle and doing sports</li>
    <li>Playing piano and studying music</li>
</ul>
{% endblock %}
