{% extends 'math_base.html' %}

{% block content %}
<hr>
<h3>Humors</h3>
<hr>
<p>These are humors heard and collected by me during my conversations (in Armenian mainly).</p>
<ul>
    <li><a href="{{ url_for('humor_phystech') }}">PhysTech humors</a></li>
    <li><a href="{{ url_for('humor_familiar') }}">Familiar humors</a></li>
    <li><a href="{{ url_for('humor_isaa') }}">ISAA humors</a></li>
    <li><a href="{{ url_for('search_humors') }}">All humors</a></li>
</ul>
<p>The above are references to censored humors only. To get the links to all humors (including non-censored too)
solve the following problem:
<br><br>
Find the norm of the following operator:
    \( \quad A: C[0, 1] \to C[0, 1], \quad (Ax)(t)=\int\limits_0^t x(s)ds. \)
</p>

<form method="post" action="{{ url_for('verify_answer') }}" class="mt-4">
    <div class="input-group w-50" style="max-width: 250px;">
        <input type="text" id="answer" name="answer" class="form-control" placeholder="Enter your answer" required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% if correct %}
    <div class="alert alert-success mt-3" role="alert">
        ✅ Congratulations! Here are the links to all humors (including non-censored):
    </div>
    <ul>
        <li><a href="{{ url_for('humor_phystech_all') }}">PhysTech humors</a></li>
        <li><a href="{{ url_for('humor_familiar_all') }}">Familiar humors</a></li>
        <li><a href="{{ url_for('humor_isaa_all') }}">ISAA humors</a></li>
        <li><a href="{{ url_for('search_humors_all') }}">All humors</a></li>
    </ul>
{% elif incorrect is defined %}
    <div class="alert alert-danger mt-3" role="alert">
        ❌ Incorrect answer. Try again.
    </div>
{% endif %}

{% endblock %}