{% extends 'base.html' %}

{% block content %}
<hr>
<h3>Literature</h3>
<hr>
<p>Here you will find literature created by me.</p>
<h5>Prose</h5>
<ul>
    <li>
        <a href="static/documents/Վարք-Տարոնի.pdf">Վարք Տարոնի</a> (April-May 2017)<br>
        Episode from my school years,
        particularly of the 10th grade; the central figures of the story are my classmate and the
        teacher of physics.
    </li>
    <li>
        <a href="static/documents/Հուռգադա.pdf">Հուռգադա</a> (August 2022)<br>
        Notes of my family's trip to Hurghada, Egypt in 2022.
    </li>
    <li>
        <a href="static/documents/Տետր-ուշ-եկած-բայց-ոչ-ուշացած.pdf">Զանազան</a> (2017)<br>
        Miscellaneous prose.
    </li>
</ul>
<h5>Poems</h5>
<ul>
    <li>
        <a href="static/documents/խաղիկներ-filtered.pdf">Խաղիկներ</a><br>
        Selection of my poems.
    </li>
</ul>
<h5>Other</h5>
<ul>
    <li>
        <a href="static/documents/Հեծանիվ վարողի ուղեցույց.txt">Հեծանիվ վարողի ուղեցույց</a><br>
        Advice on how to ride bicycle.
    </li>
</ul>
{% endblock %}