{% extends 'math_base.html' %}

{% block content %}
<hr>
<h3>Composed problems</h3>
<hr>
<p>Here are some of my composed problems which are exposed to public:</p>
<ul>
    <li><a href="{{ url_for('category_all', category='geometry') }}">Geometry</a></li>
    <li><a href="{{ url_for('category_all', category='algebra') }}">Algebra</a></li>
</ul>
<hr>
<h3>Selected solutions</h3>
<hr>
<p>
    I am a member of the <a href="https://math.stackexchange.com/users/1135242/saroyr">stackexchange</a> and
    <a href="https://artofproblemsolving.com/community/user/490563">AoPS</a> communities and occasionally
    solve problems there. Here are some of my selected solutions to problems in these forums:
</p>
{% for category in solutions %}
<h5>{{ category['name'] }}</h5>
<ul>
    {% for item in category['list'] %}
    <li><a href="{{ item['url'] }}">{{ item['text'] }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}