{% extends 'base.html' %}

{% block content %}
    <hr>
    <h3>Music</h3>
    <hr>
    <h5>Composed music</h5>
    <p>Some casual music I came up with.</p>
    <ul>
        <li><h6>Through the clouds</h6>
            <audio title="Through the clouds" controls>
                <source src="static/audio/first.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio></li>
        <li><h6>Latin jazz riff</h6>
            <audio title="Latin jazz riff" controls>
                <source src="static/audio/Latin_jazz.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio></li>
    </ul>
    <hr>
    <h5>Tutorials</h5>
    <p>
        Arrangements of some music on the piano
        <ul>
            <li><a href="https://www.youtube.com/watch?v=BxnK70Rj9PA">
                Samsung Hypnotize ringtone</a></li>
            <li><a href="https://www.youtube.com/watch?v=yweoD17UKOQ">
                Vasily Chernov - Pulse of the Earth</a></li>
        </ul>
    </p>
    <hr>
    <h5>Some musicians</h5>
    Here are several musicians I recommend to follow if you are into music and piano in particular.
    <ul>
        <li>
            <a href="https://www.youtube.com/@FrankTedescoOfficial">Frank Tedesco</a> is the ultimate
            piano master, possessing mind-blowing technique, over-trained musical ear and unimaginable
            memory. He has a series of videos where he asks random strangers to pick songs and instantly
            reproduces the music on the piano with the greatest accuracy, beautifying the song even
            further. Also in his <a href="https://www.youtube.com/@FrankTedescoHighlights">secondary
            channel</a> he creates the craziest loops on the fly with full orchestration.
        </li>
        <li>
            <a href="https://www.youtube.com/@CharlesCornellStudios">Charles Cornell</a> is a jazzman
            youtuber who analyzes game and movie soundtracks deeply and in detail. His videos are both
            entertaining and educational.
        </li>
        <li>
            <a href="https://www.youtube.com/@Composer1992">Andrew Wrangell</a> is a composer and
            pianist of highest rank. Many tracks of Nightwish and Two Steps From Hell are arranged
            and performed by him. He is the co-creator of the channel
            <a href="https://www.youtube.com/@SheetMusicBoss">Sheet Music Boss</a> which releases
            a new piano tutorial every day.
        </li>
        <li>
            <a href="https://www.youtube.com/@MikhailTovmasyan">Mikhail Tovmasyan</a> is a pianist
            who arranges and performs various music on the piano.
        </li>
    </ul>
    <h5>References</h5>
    <ul>
        <li>
            <a href="https://www.musictheory.net/lessons">musictheory.net</a> offers basic lessons
            in music theory for the starters.
        </li>
        <li>
            <a href="https://www.beyondmusictheory.org/blog/index/">Beyond Music Theory</a> is a very
            good book for self-studying music theory, covering sufficiently great deal of material.
        </li>
        <li>
            <a href="https://www.youtube.com/@thechopinmethod7257">The Chopin Method</a> is a YouTube
            channel that breaks down piano technique as it saw Chopin.
        </li>
        <li>
            <a href="https://tonedear.com/">tonedear.com</a> offers various exercises for ear training.
        </li>
    </ul>
{% endblock %}