{% extends 'base.html' %}

{% block content %}
<hr>
<h3>Humor search</h3>
<hr>
<p>You can search humors by humorists and tags here.</p>
{% if non_censored_too %}
<p>Unless you select all under censor, only censored humors will be displayed.</p>
{% endif %}
<br>
<h5>Humorists</h5>
<p>{% for humorist in humorists %}
    <button class="humorist-frame">{{ humorist }}</button>
    {% endfor %}
</p>
<h5>Tags</h5>
<p>{% for tag in tags %}
    <button class="tag-frame" id="tag-{{ loop.index }}" data-tag="{{ tag }}">{{ tag }}</button>
    {% endfor %}
</p>
{% if non_censored_too %}
<h5>Censor</h5>
<p>
    <button class="censor-frame" id="censor-0" data-censor="censored-only">censored-only</button>
    <button class="censor-frame" id="censor-1" data-censor="all">all</button>
</p>
{% endif %}
<p id="humor-count" hidden></p>
<div id="humor-container">
    <!-- Humors will be displayed here -->
</div>
{% endblock %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const humoristButtons = document.querySelectorAll('.humorist-frame');
    const tagButtons = document.querySelectorAll('.tag-frame');
    const humorContainer = document.getElementById('humor-container');
    const censorButtons = document.querySelectorAll('.censor-frame');
    let selectedTags = {{ mandatory_tag_list | tojson }};
    let selectedHumorists = [];
    let selectedCensor = 'censored-only';

    const humorists = {{ humorists | tojson }};
    const tags = {{ tags | tojson }};
    const id_humorist_dict = {{ id_humorist_dict | tojson }};
    const id_tag_dict = {{ id_tag_dict | tojson }};
    const viewers = {{ viewers | tojson }};
    const non_local_only = {{ non_local_only | default(false) | tojson }};

    tagButtons.forEach(button => {
      button.addEventListener('click', async function() {
        const tag = button.getAttribute('data-tag');
        button.classList.toggle('selected');

        if (button.classList.contains('selected')) {
          selectedTags.push(tag);
        } else {
          selectedTags = selectedTags.filter(selectedTag => selectedTag !== tag);
        }

        await fetchHumors();
      });
    });

    humoristButtons.forEach(button => {
      button.addEventListener('click', async function() {
        const humorist = button.textContent;
        button.classList.toggle('selected');

        if (button.classList.contains('selected')) {
          selectedHumorists.push(humorist);
        } else {
          selectedHumorists = selectedHumorists.filter(selectedHumorist => selectedHumorist !== humorist);
        }

        await fetchHumors();
      });
    });

    censorButtons.forEach(button => {
      button.addEventListener('click', async function() {
        const censorOption = button.getAttribute('data-censor');

        if (censorOption === 'all') {
          const confirmed = confirm('Are you sure you want to view all humors? Non-censored text might be loaded.');
          if (!confirmed) return; // Do nothing if user cancels
        }

        // Toggle selection for censor buttons
        censorButtons.forEach(btn => {
          btn.classList.remove('selected');
        });
        button.classList.add('selected');

        selectedCensor = censorOption;
        await fetchHumors();
      });
    });

    async function fetchHumors() {
  try {
    const tagQueryString = selectedTags.map(tag => `tag=${tag}`).join('&');
    const humoristQueryString = selectedHumorists.map(humorist => `humorist=${humorist}`).join('&');
    const censorQueryString = `censor=${selectedCensor}`;
    const viewersQueryString = viewers.map(viewer => `viewer=${viewer}`).join('&');
    const localQueryString = `non_local_only=${non_local_only}`;

    const queryString = `${tagQueryString}&${humoristQueryString}&${censorQueryString}&${viewersQueryString}&${localQueryString}`;
    const response = await fetch(`/get_humors?${queryString}`);
    const humors = await response.json();

    humorContainer.innerHTML = '';

    humors.forEach(humor => {
      const humorDiv = document.createElement('div');
      humorDiv.classList.add('div-frame');

      const humorContent = document.createElement('p');
      humorContent.textContent = humor.content;

      humorDiv.appendChild(humorContent);

      // Check if 'img' property exists in the humor object
      if (humor.img_src) {
        const img = document.createElement('img');
        img.src = '/' + humor.img_src;
        img.alt = humor.img_alt;
        humorDiv.appendChild(img);
      }

      const humoristsTagsP = document.createElement('p');

      const humoristsTitle = document.createElement('b');
      humoristsTitle.textContent = 'Humorists:';
      humoristsTagsP.appendChild(humoristsTitle);
      humor.humorists.forEach(id => {
        const button = document.createElement('button');
        button.textContent = id_humorist_dict[id];
        button.setAttribute("class", "humorist-frame");
        humoristsTagsP.appendChild(button);
      });

      const tagsTitle = document.createElement('b');
      tagsTitle.textContent = 'Tags:';
      humoristsTagsP.appendChild(tagsTitle);
      humor.tags.forEach(id => {
        const button = document.createElement('button');
        button.textContent = id_tag_dict[id];
        button.setAttribute("class", "humorist-frame");
        humoristsTagsP.appendChild(button);
      });

      humorDiv.appendChild(humoristsTagsP);
      humorContainer.appendChild(humorDiv);
      humorContainer.insertAdjacentHTML('beforeend', '<br>');
    });

    const humorCountElement = document.getElementById('humor-count');
    humorCountElement.textContent = `Loaded ${humors.length} humors.`;
    humorCountElement.hidden = false;
    
  } catch (error) {
    console.error('Error fetching humors:', error);
  }
}
  });
</script>
{% endblock %}
